body{background-color:#25292b;color:white;}
a{padding:8;background-color:transparent;font-weight:bold;}
a:link{color:#00BFFF;text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{color:white;}
a:visited {color:#4682B4;text-decoration:none;}
td{font-size:150%;}
div{margin:4;padding-left:16;padding-right:16;padding-top:2;padding-bottom:2;background-color:#33393B}
