/*
#282E33
#3A4047
*/
body.tgdark{background-color:#18191D;color:white;}
code.cmd{font-size:110%;color:white;background-color:black;padding-left:8px;padding-right:8px;padding-top:2px;padding-bottom:2px;margin:2px;}
div.field{background-color:#282E33;color:white;padding-left:16px;padding-right:16px;padding-top:8px;padding-bottom:8px}
a.blu{padding:8;background-color:transparent;font-weight:bold;}
a.blu:link{color:#0074E8;text-decoration:none;}
a.blu:hover{text-decoration:underline;}
a.blu:active{color:white;}
a.blu:visited{color:#4682B4;text-decoration:none;}
